:root {
    --bg: #282828;
    --fg: #ebdbb2;
    --selection-fg: #928374;
    --selection-bg: #ebdbb2;
    
    --black: #665c54;
    --black-light: #7c6f64;
    
    --red: #cc241d;
    --red-light: #fb4934;
    
    --green: #98971a;
    --green-light: #b8bb26;
    
    --yellow: #d79921;
    --yellow-light: #fabd2f;
    
    --blue: #458588;
    --blue-light: #83a598;
    
    --purple: #b16286;
    --purple-light: #d3869b;
    
    --aqua: #689d6a;
    --aqua-light: #8ec07c;
    
    --white: #a89984;
    --white-light: #bdae93;

    --border-color: #665c54;
    --active-border-color: #d3869b;
    --inactive-border-color: #665c54;
    
    --active-tab-bg: #665c54;
    --active-tab-fg: #fbf1c7;
    --inactive-tab-bg: #3c3836;
}

@font-face {
    font-family: 'ZT Formom';
    src: url('jkwonn.github.io/assets/fonts/ZT Formom.woff2') format('woff2'),
         url('jkwonn.github.io/assets/fonts/ZT Formom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: "ZT Formom", sans-serif;
    margin: 0;
    padding: 20px;
}

/* Links */
a {
    color: var(--blue-light);
    text-decoration: none;
}

a:hover {
    color: var(--yellow-light);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--yellow);
}

/* Buttons */
button {
    background-color: var(--blue);
    color: var(--fg);
    border: 2px solid var(--border-color);
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--blue-light);
    border-color: var(--active-border-color);
}


/* Active/Inactive Tabs */
.tab {
    background-color: var(--inactive-tab-bg);
    color: var(--white);
    padding: 10px;
    border-bottom: 2px solid var(--inactive-border-color);
}

.tab.active {
    background-color: var(--active-tab-bg);
    color: var(--active-tab-fg);
    border-bottom: 2px solid var(--active-border-color);
}

/* Selection */
::selection {
    background: var(--selection-bg);
    color: var(--selection-fg);
}

/* Borders and Containers */
.container {
    background: var(--black);
    padding: 20px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}
