@import url('https://fonts.googleapis.com/css2?family=Garamond:wght@400&display=swap');

@font-face {
    font-family: 'ZT Formom';
    src: url('jkwonn.github.io/assets/fonts/ZT Formom.woff2') format('woff2'),
         url('jkwonn.github.io/assets/fonts/ZT Formom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AppleGaramond';
    src: url('/assets/fonts/AppleGaramond.ttf') format('woff2'),
         url('/assets/fonts/AppleGaramond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Garamond', serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 85vw;
    margin: auto;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
}

h1 {
    font-size: clamp(28px, 3vw, 48px);
    font-weight: normal;
    margin: 0;
    font-family: "AppleGaramond", sans-serif;
}

nav {
    flex: 1;
    position: absolute;
    left: 20px;
    top: 80px;
    min-width: 200px;
    max-width: 20vw;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 5px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: clamp(14px, 1.5vw, 20px);
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #3366cc;
}

main {
    flex: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

main img {
    max-width: 45vw;
    height: auto;
    display: block;
    image-rendering: pixelated;
}

.news {
    flex: 1;
    position: relative;
    right: 0;
    top: 0;
    width: 20vw;
    text-align: left;
    font-size: clamp(14px, 1.3vw, 18px);
    min-width: 250px;
    max-width: 20vw;
}

.news h2 {
    font-size: 18px;
    font-weight: normal;
}

.news ul {
    list-style: none;
    padding: 0;
}

.news ul li {
    margin-bottom: 10px;
    font-size: clamp(14px, 1.5vw, 20px);
}

.news ul li a {
    text-decoration: none;
    color: #3366cc;
    font-weight: bold;
}

.news ul li strong {
    font-weight: bold;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1400px;
        margin: auto;
    }
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    nav {
        text-align: left;
        max-width: 100%;
    }

    .news {
        max-width: 90%;
        text-align: left;
        margin-top: 20px;
    }

    main img {
        max-width: 70vw;
    }
}


@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: left;
    }

    nav, .news {
        max-width: 100%;
        text-align: left;
    }

    main img {
        max-width: 80vw;
    }
}

@media (max-width: 900px) {
    nav {
        position: relative;
        left: 0;
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
}

@media (max-width: 900px) {
    main img {
        max-width: 60vw;
    }
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        align-items: left;
    }

    .news {
        width: 90%;
        text-align: left;
        margin-top: 20px;
    }

    main img {
        max-width: 75vw;
    }
}


