h1 {
    font-size: 50px;
    font-family: "Libre Caslon Text", serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
}

p {
    font-family: "Libre Caslon Text", serif;
    font-size: 20px;
    text-align:center;
}

body {
    background-color: #FFFFE4;
}

